# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
js/0/node_modules
js/0/.pnp
.pnp.js

# testing
js/0/coverage

# production
js/0/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

js/*/.idea